@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Larsseit-Bold";
	src: url("/fonts/Larsseit-Bold.woff");
}

@font-face {
	font-family: "Graphic";
	src: url("/fonts/Graphik-Regular.woff");
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}